.admin_main_nav {
    background-color: var(--primary-color);
    box-shadow: var(--shadow);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.admin_main_nav :where(.links) {
    display: flex;
    justify-content: center;
}

.admin_main_nav :where(a) {
    color: var(--text-color);
    padding: 1rem 2rem;
    font-size: var(--text-size-s);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.admin_main_nav :where(a:hover) {
    color: var(--text-color-hover);
}

.admin_main_nav :where(.links-container) {
    display: flex;
    justify-content: start;
    width: 100%;
}

.admin_main_nav :where(.links-container1) {
    display: flex;
    justify-content: end;
    width: 100%;
}

/* dropdown  */
.admin_main_nav :where(.dropdown-content a) {
    flex-direction: row;
    gap: 0.5rem;
}

.admin_main_nav :where(.dropdown-content) {
    display: none;
    position: absolute;
    z-index: 1000;

    background-color: var(--primary-color);
    border-radius: var(--card-border);
    box-shadow: var(--card-shadow);
}

.admin_main_nav :where(.dropdown-links:hover .dropdown-content) {
    display: block;
}

@media screen and (max-width:800px) {
    .admin_main_nav :where(a) {
        padding: 0.5rem 1rem;
        font-size: var(--text-size-s);
    }
}

@media screen and (max-width:480px) {
    .admin_main_nav :where(.links p) {
        display: none;
    }

    .admin_main_nav :where(.dropdown-content a) {
        text-align: start;
        padding: 0.7rem;
    }
}