.admin_nav {
    background-color: var(--primary-color);
    box-shadow: var(--shadow);

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* dropdown  */
.admin_nav :where(.dropdown-links) {
    display: none;
}

.admin_nav :where(.dropdown-content) {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1000;

    /* background-color: var(--primary-color); */
    background-color: rgba(255, 255, 255, 0.521);
    backdrop-filter: blur(10px);

    border-radius: var(--card-border);
    box-shadow: var(--card-shadow);
}

.admin_nav :where(a) {
    color: var(--text-color);
    padding: 1rem 2rem;

    display: block;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--text-size-s);
}

.admin_nav :where(a:hover) {
    color: var(--text-color-hover);
}

.admin_nav .links a::after {
    content: "";
    background-color: grey;
    display: block;
    height: 1px;
    width: 0;
    transition: 0.3s;
    z-index: 1000;
}

.admin_nav .links a:hover::after {
    width: 100%;
}

.admin_nav :where(.title-link a) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_nav :where(.links) {
    display: flex;
    align-items: center;
}

@media screen and (max-width:800px) {
    .admin_nav :where(.links) {
        display: none;
    }

    .admin_nav :where(.dropdown-links) {
        display: block;
    }

    .admin_nav :where(.dropdown-links:hover .dropdown-content) {
        display: block;
    }
}

@media screen and (max-width:480px) {
    .admin_nav :where(.title-link h4) {
        display: none;
    }

    .admin_nav :where(.dropdown-content) {
        width: 100%;
        height: 80vh;
        text-align: center;
    }
}