.appointment_past {
    padding: 0.5rem;
    width: 100%;
}

.appointment_past :where(h1) {
    color: var(--blue);
}

.appointment_past :where(table) {
    display: flex;
    flex-direction: column;
}

.appointment_past :where(tbody) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.appointment_past :where(tr) {
    display: flex;
}

.appointment_past :where(td) {
    background-color: var(--blue);
    border-radius: var(--card-border);
    box-shadow: var(--shadow);

    font-size: 10px;
    color: var(--primary-color);
    white-space: nowrap;
}

.appointment_past :where(.view-appt) {
    display: flex;
    justify-content: space-between;
}

.appointment_past :where(.appt-visibility) {
    color: rgba(255, 255, 255, 0.205);
}

.appointment_past :where(.appt-visibility:hover) {
    color: white;
}

@media screen and (max-width: 480px) {
    .appointment_past :where(tbody) {
        flex-direction: column;
    }

    .appointment_past :where(tr) {
        flex-grow: 1;
    }

    .appointment_past :where(td) {
        flex-grow: 1;
    }
}