.profile_doc {
    padding: 0.5rem;
    width: 100%;
}

.profile_doc :where(.tab-bar) {
    width: fit-content;
    cursor: pointer;
    color: var(--text-color);
}

.profile_doc :where(.tab-bar:hover) {
    color: var(--text-color-hover);
    background-color: var(--base-color);
    border-radius: var(--card-border-thin);
}

.profile_doc :where(img) {
    width: 150px;
}

.profile_doc :where(.container) {
    background-color: white;
    border-radius: var(--card-border-thin);
    box-shadow: var(--shadow);
    padding: 1rem;
}

.profile_doc :where(.details) {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile_doc :where(.details li) {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 10px;
    color: var(--text-color);
}

/* status  */
.profile_doc :where(.verified) {
    color: var(--blue);
    font-variation-settings: 'FILL' 1;
}

.profile_doc :where(.unverified) {
    color: var(--red);
    font-variation-settings: 'FILL' 1;
}

/* dropdown  */
.profile_doc :where(.dropdown-content a) {
    flex-direction: row;
    gap: 0.5rem;

    display: flex;
    align-items: center;

    font-size: 10px;
    color: var(--text-color);
    padding: 1rem 2rem;
}

.profile_doc :where(.dropdown-content a:hover) {
    color: var(--text-color-hover);
    background-color: whitesmoke;
    border-radius: 0.5rem;
}

.profile_doc :where(.dropdown-content) {
    display: none;
    position: absolute;
    z-index: 1000;

    background-color: var(--primary-color);
    border-radius: var(--card-border);
    box-shadow: var(--card-shadow);

    /* padding: 1rem; */
}

.profile_doc :where(.dropdown-links:hover .dropdown-content) {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.profile_doc :where(.container) .actions {
    display: flex;
}

.profile_doc :where(.actions) a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    font-size: 10px;
    color: white;

    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    background-color: var(--blue);
    border-radius: var(--card-border-thin);
}

.profile_doc :where(.actions) a:hover {
    background-color: var(--blue-hover);
}

@media screen and (max-width: 480px) {
    .profile_doc :where(.actions) {
        flex-direction: column;
        /* align-items: center; */
        gap: 0.3rem;
    }
}