.profile_doc {
    padding: 0.5rem;
    width: 100%;
}

.profile_doc :where(img) {
    width: 150px;
}

.profile_doc :where(.container) {
    background-color: white;
    border-radius: var(--card-border-thin);
    box-shadow: var(--shadow);
    padding: 1rem;
}

.profile_doc :where(.details) {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile_doc :where(.details li) {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 10px;
    color: var(--text-color);
}

/* status  */
.profile_doc :where(.verified) {
    color: var(--blue);
}

.profile_doc :where(.unverified) {
    color: var(--red);
}

/* dropdown  */
.profile_doc :where(.dropdown-content a) {
    flex-direction: row;
    gap: 0.5rem;

    display: flex;
    align-items: center;

    font-size: 10px;
    color: var(--text-color);
}

.profile_doc :where(.dropdown-content a:hover) {
    color: var(--text-color-hover);
}

.profile_doc :where(.dropdown-content) {
    display: none;
    position: absolute;
    z-index: 1000;

    background-color: var(--primary-color);
    border-radius: var(--card-border);
    box-shadow: var(--card-shadow);

    padding: 1rem;
}

.profile_doc :where(.dropdown-links:hover .dropdown-content) {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}