* {
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: 0;
    box-sizing: border-box;

    /* defualt transition-duration */
    transition: 0.1s;
}

html {
    /* defaul size  */
    font-size: var(--text-size-default);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--base-color);
    font-family: "Poppins", sans-serif;
}

/* settings  */
.logout a:hover {
    color: var(--red);
}

/* stutas  */
.verified-status {
    color: var(--blue);
}

.unverified-status {
    color: var(--red);
}

.pending-status {
    color: var(--yellow);
}

a:hover .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1;
}

/* info-label  */
.info-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.info-label .material-symbols-outlined {
    color: var(--blue);
}

.info-label:hover .info-step {
    display: block;
}

.info-step :where(h1, b) {
    color: var(--blue);
}

.info-label :where(h1) {
    font-size: 20px;
}

.info-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--blue);
}

#popupSection {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: var(--card-border);
    box-shadow: var(--card-shadow);
    z-index: 1000;

    transition: 1s;
}

#popupSection :where(h1) {
    color: var(--blue);
    text-align: start;
}

#popupSection :where(b) {
    color: var(--blue);
}

#popupSection :where(p) {
    font-size: 12px;
    color: grey;
}