.view_appointment_p {
    padding: 0.5rem;
    width: 100%;
}

.view_appointment_p :where(.paper) {
    background-color: white;
    box-shadow: 1px 10px 10px grey;

    /* A4 paper size */
    aspect-ratio: 210/297;
    width: 100mm;

    overflow: hidden;

    /*  
         view_appointment_p SIZES (in mm)
         A0: 841 mm x 1189 mm
         A1: 594 mm x 841 mm
         A2: 420 mm x 594 mm
         A3: 297 mm x 420 mm
         A4: 210 mm x 297 mm
         A5: 148 mm x 210 mm
         A6: 105 mm x 148 mm
         A7: 74 mm x 105 mm
         A8: 52 mm x 74 mm
         A9: 37 mm x 52 mm
         A10: 26 mm x 37 mm
         
         Short: 216 mm x 279 mm
         Long: 216 mm x 330 mm
         
         Standard view_appointment_p sizes in North America:
         Letter: 8.5 in x 11 in
         Legal: 8.5 in x 14 in
         Tabloid: 11 in x 17 in
         Ledger: 17 in x 11 in
    */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

.view_appointment_p :where(.logo) {
    aspect-ratio: 1/1;
    width: 40px;
    object-fit: contain;

    opacity: 0.5;
}

.view_appointment_p :where(.header) {
    padding: 1rem;
    background-color: whitesmoke;
    color: grey;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.view_appointment_p :where(.footer) {
    padding: 1rem;
    background-color: whitesmoke;
    color: grey;
    text-align: center;
}

.view_appointment_p :where(.body) {
    padding: 0.5rem;
    height: 100%;
}

.view_appointment_p :where(.details) {
    display: flex;
    gap: 0.3rem;
}

.view_appointment_p :where(.details p) {
    flex-grow: 1;
}

.view_appointment_p :where(p) {
    border: unset;
    background-color: whitesmoke;
    font-size: 10px;
    padding: 0.3rem;
}

.view_appointment_p :where(label) {
    color: var(--text-color);
}